<h1>Listing posts</h1>
<table>
  <tr><%= form_tag posts_path,:method => 'get' do %>
        <p>
          <%= text_field_tag :search %>
          <%= submit_tag "search" %>
        </p>
    <% end %></tr>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />
<% logger.info "-------------------------------" %>
<%= will_paginate @posts %>
<% logger.info "-------------------------------" %>


<%#= link_to 'New Post', new_post_path, :class => "btn btn-success" %>
